@import "../../vatiable.css";

.home-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-self: center;
    align-items: center;
}

.home-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
}

.home-actions > *:nth-child(1){
width: 35%;
margin-right: auto;
}

.home-font{
    font-size: var(--font-size-home-page);
}

@media all and (min-width: 480px) and (max-width: 768px) { 
    .home-actions{
        flex-direction: column;
        align-items: flex-start;
    }

    .home-actions > *:nth-child(1){
        width: 100%;
        margin-right: auto;
        }

}


@media all and (max-width: 480px) {
    .home-actions{
        flex-direction: column;
        align-items: flex-start;
    }

    .home-actions > *:nth-child(1){
        width: 100%;
        margin-right: auto;
        }
 }
  

