:root {
  /* font size */

  --font-size-home-page: 14px;
  --font-size-details-page: 16px;

  /* padding */

  --padding-sm: 6px;
  --padding-md: 12px;
  --padding-lg: 18px;
  --padding-xl: 24px;
  --padding-xxl: 48px;

  

  --border-radius: 5px;
  --box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.15);
}
