.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.loader {
    width: 96px;
    height: 96px;
    border: 5px solid #000000;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  } 
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:80px;
    height:80px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-bottom-color: var(--theme-text);
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 